<div>
    <h3>Login</h3>
    <input id="email" placeholder="Email" type="email">
    <input id="password" placeholder="Password" type="password">
    <button id="action">Login</button>
    <a href="/?register=true">Register</a>
</div>