<div>
    <h3>Register</h3>
    <input id="username" placeholder="Username">
    <input id="email" placeholder="Email" type="email">
    <input id="password" placeholder="Password" type="password">
    <button id="action">Register</button>
    <a href="/?register=false">Login</a>
</div>